<h1>Create a page for your favorite animal!</h1>
<form>
  <h3>Name</h3>
  <input name="animal_name" type="text" placeholder="Enter animal name" required/>
  <h3>Image Link</h3>
  <input name="img_link"type="text" placeholder="Enter link to image"/>
  <h3>Habitat</h3>
  <input name="habitat" type="text" placeholder="Enter habitat"/>
  <h3>Origin</h3>
  <input name="origin" type="text" placeholder="Enter origin"/>
  <h3>Give us a fun fact about this animal!</h3>
  <textarea name="facts" type="text" placeholder="Enter fun facts"></textarea>
  <h3>Do you know about any myths related to this animal?</h3>
  <textarea name="myths" type="text" placeholder="Enter a myth"></textarea>
  <div>
  <button type="submit" id="submitAnimalBtn">Submit Animal</button>
  </div>
</form>
<script src="/animal_form.js"></script>
