<h1>Welcome to the Wild Animals Discovery App</h1>
<div>
  <form>
    <h3>What is your name?</h3>
    <input type="text" id="name" placeholder="Enter your name"/>
    <button type="button" id="submitBtn">Submit</button>
  </form>
</div>
<script src="/home.js"></script>
