<h1>Welcome {{ name }}! :D</h1>
<div>
  <a href="/animals"><button id="viewAnimalsBtn">View Animals</button></a>
  <a href="/animals/create"><button id="createAnimalBtn">Create Animal</button></a>
</div>
